<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <mat-nav-list>
      <a
        *ngFor="let route of routes"
        mat-list-item
        [routerLink]="route.path"
        (click)="sidenav.toggle()"
      >
        <!-- <mat-icon>notifications</mat-icon> -->
        {{ route.title }}
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div style="height: 88vh">
      <mat-toolbar color="primary">
        <button mat-icon-button (click)="sidenav.open()" matTooltip="Menu">
          <mat-icon>menu</mat-icon>
        </button>
        <span>CompanyCTRL</span>
        <span class="toolbar-item-spacer"></span>
        <button mat-icon-button matTooltip="Notificações">
          <mat-icon>notifications</mat-icon>
        </button>
        <button
          mat-icon-button
          matTooltip="Minha Conta"
          [matMenuTriggerFor]="userAccountMenu"
        >
          <mat-icon>account_circle</mat-icon>
        </button>
        <mat-menu #userAccountMenu [overlapTrigger]="false" yPosition="below">
          <button mat-menu-item routerLink="#">
            <mat-icon>person</mat-icon><span>My Account</span>
          </button>
          <button mat-menu-item routerLink="#">
            <mat-icon>settings</mat-icon><span>Settings</span>
          </button>
          <button mat-menu-item routerLink="#">
            <mat-icon>help</mat-icon><span>Help</span>
          </button>
          <mat-divider></mat-divider>
          <button mat-menu-item routerLink="#">
            <mat-icon>exit_to_app</mat-icon>Logout
          </button>
        </mat-menu>
      </mat-toolbar>
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
